@charset "Utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../imagens/fundo.webp) no-repeat black;
    background-size: cover;
}

section#fone {
    background: url(../imagens/smartfone-xiaomi.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
}

iframe#tela {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 236px;
    height: 516px;
    border-radius: 30px;
}